* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100%;
  height: auto;
  background-color: rgb(230, 236, 237);
}

.input {
  border: 3px solid rgb(0, 42, 255);
}

.button {
  border: 5px solid blue;
}

.reg-form {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}

